.feed{
  grid-template-rows: min-content 1fr;
 }
 .feed-nav{
  padding: 1.5rem 2rem ;
  padding-inline: clamp(.5rem,3vw,2rem);
    --gap:0;
     border-bottom: 1px solid gray;
 }
 .feed-list{
  --gap: 1rem;
 }
 .feed-box{
  max-height: 100vh;
  padding: 5px;
  z-index: 1;
  position: relative;
 }
 span.logo-dt {
   font-size: 16px;
   color: #b2161d;
 }
 .mobile-search {
   border-radius: 50%;
   position: relative;
   margin-right: 6px;
   display: flex;
   align-items: center;
   height: 30px;
   padding: 5px;
   border-left-color: red;
   width: 30px;
   border: 2px solid #353b41;
   border-left-color: #b2161d;
   border-right-color: #b2161d;
   --gap: 1rem;
   transition:  0.5s ;
   transition-property: width;
 }
 .mobile-search .Search-input {
   width: 100%;
   visibility: hidden;
   position: absolute;
   height: 100%;
   user-select: none;
   /* padding: 10px; */
   border-radius: 25px;
   border: none;
   outline: none;
   background: transparent;
   transition:  0.5s ;
 }
 .active-search{
   width:100%;
   border-radius: 25px;
   transition:  0.5s ;
   transition-property: width;
 }
 .active-search .Search-input{
   visibility: visible;
   position: relative;
   background: hsl(var(--clr-dark));
 }
 .mobile-search img {
   width: 20px;
   height: 20px;
 }
 .mobile-filter{
   justify-content: space-evenly;
   width: 100%;
   max-height: 72px;
   --gap:10px;
   overflow-y: auto;
 }
 .mobile-filter-icon {
   border-left: 2px solid #b2161d;
   visibility: hidden;
   /* height: 120%; */
   padding-left: 5px;
   display: grid;
   cursor: pointer;
   place-items: center;
   cursor: pointer;
 }
 .active-search .mobile-filter-icon{
   visibility: visible;
 }
 .mobile-filter-item {
   padding: 6px 8px;
   color: #fff;
   background: #353b41;
   font-size: 14px;
   height: fit-content;
   border-radius: 6px;
   position: relative;
 
 }
 .advanced-filter-mobile {
   width: calc(100% - 10px);
   height: 0px;
   background: #22262a;
   position: absolute;
   border-top: none;
   box-shadow: 0px 5px 16px rgb(0 0 0 / 70%);
   top: 125px;
   z-index: 12;
   transition: 0.5s;
   transition-property: height;
   display: grid;
   grid-template-rows: auto auto;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   
 }
 .advanced-filter-mobile .select-area, .advanced-filter-mobile .btns-area{
   width: 0;
   visibility: hidden;
   transform: scale(0);
   margin-inline: 5px;
 }
 .active-mobile-filter {
   height: 343px;
   border-top: 2px solid #353b41;
   padding: 10px;
   top: 143px;
 }
 .active-mobile-filter .select-area {
   transform: scale(1);
   margin-top: 10px;
   margin-bottom: 40px;
   width: 100%;
   border: 2px solid #353b41;
   visibility: visible;
   padding: 5px;
   color: #d7d7d7;
   outline: none;
   text-align: center;
   font-size: 17px;
   position: relative;
   background: #22262a;
   transition: 0.5s;
   display: inline-block;
   height: fit-content;
   transition-property: width, transform, height;
   cursor: pointer;
   box-shadow: 0px 5px 16px rgb(0 0 0 / 50%);
 }
.active-mobile-filter .btns-area{
  width: auto;
  visibility: visible;
  transform: scale(1);
  transition: 0.5s;
  transition-property: width, transform, height;
  align-items: flex-start;
  justify-content: center;
}
 .select-items-box {
   height: 0;
   width: 100%;
   cursor: pointer;
   border-top: 0;
   background: inherit;
   overflow-y: auto;
   overflow-x: hidden;
   padding-inline: 5px;
   z-index: 2;
   transition: 0.5s;
   transition-property: height;
 }
 .select-items-box > div:hover{
   background: #b2161d;
 }
 .active-select{
   height: 150px;
   max-height: fit-content;
   margin-top: 7px;
   transition: 0.5s;
     transition-property: height;
 }
