.filterBox{
  position: fixed;
  width: calc(90% + 20px);
  padding: 10px;
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 10000;
  margin: 10px;
 margin-inline: auto;
 inset: 0;
 overflow: auto;
 }
 .title{
  margin-block: 20px;
 }
 .filter-item-box{
  padding-block: 10px;
  
 }
 .filter-item-box.grid{
   grid-template-columns: auto auto auto;
   gap: 10px;
 }
 .popUp-filter{
  padding: 10px;
  border-radius: 14px;
  color: black;
  white-space: nowrap;
  flex-basis: 22%;
  text-align: center;
  background: #fff;
 }
 .last-child{
   margin-bottom: 40px;
 }
 .close{
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
 }
 .acceptedBox{
  position: fixed;
  width: 90%;
  padding: 10px;
  max-width: 380px;
  z-index: 10000;
  margin: 10px;
 margin-inline: auto;
 inset: 0;
 top: auto;
 }
 .acceptedBox button{
  border-radius: 20px;
  background: /*#005f73*/hsl(152, 41%, 52%,0.75);
  border: none;
  outline: none;
  padding: 5px 10px;
 }
 .active-popUp{
  background: #af1f24;
  color: #fff;
 }