
/* ---------------------------- */
/* Utility classes             */
/* ---------------------------*/

.container {
  padding-inline: 2em;
  margin-inline: auto;
  position: relative;
  max-width: 80rem;
}
/* media */
.primary-navigation {
  --gap: clamp(1rem, 3vw, 2rem);
  --underline-gap: 2rem;

  list-style: none;
  padding: 0;
  margin: 0;
}
.primary-navigation a {
  font-size: 25px;
  font-family: "light";
}
.svg-icon,
.svg-icon img {
  width: 15px;
  aspect-ratio: 1;
}
li#nav-block {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.feed-nav {
  padding: 1rem 2rem;
  padding-inline: clamp(0.5rem, 3vw, 2rem);
  --gap: 0;
  border-bottom: 1px solid gray;
}
.arrow {
  height: 15px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 41px;
  position: absolute;
  right: 12px;
  top: 14px;
  padding: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.arrow svg {
  background: #72787e;
  /* border-radius: 15%; */
  /* border-bottom-right-radius: 50%; */
  border-top-left-radius: 60%;
  /* margin: -5px; */
  padding: 5px;
}

.search {
  border-radius: 7px;
  padding: 0.3rem 1rem;
  --gap: 1rem;
}
.search img {
  width: 30px;
  height: 30px;
}

/* .filter-items{
  --gap:0.8rem
} */

.recent,
.bookmarked {
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 231px;
}

.recent .flex-items.bg-main,
.bookmarked .flex-items.bg-main {
  margin: 5px;
  /* background-image: url(../public/images/تنزيل\ \(1\).jfif);
  background-position: center;  */
  /* background-size: cover;  */
}
.controll {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 5px;
  --gap: 0;
}
.imdb {
  color: #000;
  background-color: #ff8100;
  font-size: 12px;
  margin: 1em 4px 0 0;
  letter-spacing: 0.9;
}
.feed-list {
  --gap: 1rem;
}
.list-tab {
  border-bottom: 1px solid hsl(var(--clr-gray));
  margin-top: 50px;
}
.list-item {
  padding-bottom: 20px;

  color: hsl(var(--clr-lightGray) / 0.4);
}
.list-item.activeTab {
  color: hsl(var(--clr-white));
  border-bottom: 8px solid hsl(var(--clr-main));
}

.poster-img {
  min-width: 320px;
  padding: 10px;
  z-index: 2;
}
.actor-poster {
  padding: 10px;
  z-index: 2;
  min-width: 320px;
}

.toast-text p {
  width: 85%;
}

.imgBoxLogo {
  width: 100px;
}
.actorBox img {
  width: 150px;
  height: 200px;
}
.filter-btn-img {
  width: 60px;
}
.filter-btn-box {
  gap: 0;
  cursor: pointer;
}
.filter-btn-active {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(black),
    to(#914747c9)
  );
  background: -o-linear-gradient(bottom, black, #914747c9);
  background: linear-gradient(0deg, black, #914747c9);
}
.blur-back {
  width: 100%;
  position: absolute;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
  /* backdrop-filter: blur(163px); */
  -webkit-filter: blur(28px);
  filter: blur(28px);
}
.opacity-front {
  position: absolute;
  width: 100%;
  z-index: 1;
  background: rgb(0 0 0 / 45%);
  height: 100%;
  -webkit-filter: blur(7px);
  filter: blur(7px);
}
.details-movie,
.details-actor {
  z-index: 11;
}

.direct-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  background: #353b41;
  color: #fff;
}
p.direct-link {
  padding: 10px 15px;
  background: #72787e;
  border-radius: 7px;
}
.q {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.download-btn {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.Warning-Popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1000;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* filter: blur(1px); */
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list {
  padding: 10px 30px 10px 30px;
  position: relative;
  text-align: left;
  /* background: #042b3e; */
  /* border-top: 50px solid #03a9f4; */
  /* padding-left: 15px; */
  width: 100%;
  display: block;
}
.list h2 {
  color: #fee440;
  font-size: 28px;
  padding: 10px 0;
  margin-left: 10px;
  display: inline-block;
  border-bottom: 4px solid #fee440;
}
.list label {
  position: relative;
  display: block;
  margin: 30px 0;
  color: #d7d7d7;
  font-size: 20px;
  cursor: pointer;
}

.list i {
  position: absolute;
  top: 2;
  display: inline-block;
  min-width: 25px;
  height: 25px;
  border: 2px solid #ed213a;
}
.list span {
  position: relative;
  left: 40px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.list span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transform: translateY(-50%) scalex(0);
  -ms-transform: translateY(-50%) scalex(0);
  transform: translateY(-50%) scalex(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.watch-area iframe {
  width: 100%;
  height: 100%;
}
.watch-area iframe a{
  pointer-events: none !important;
}
.servers > div,
.q-btns > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  text-align: center;
  color: #d7d7d7;
  background: #353b41;
  cursor: pointer;
}
.servers.flex,
.q-btns {
  gap: 10px;
}
.watch-area video {
  margin-inline: auto;
  width: 95%;
  padding: 10px;
  display: block;
}
.q-btns .active-q,
.servers .active-server {
  background: #ed213a;
  color: #fff;
}
.flex-items.bg-main.movie-box.large-movie {
  max-height: 270px;
}


.ai_nav_items{
  display: flex;
  width: 100%;
  padding: 10px;
}
.ai_nav_items ul {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.ai_nav_items ul li{
  flex: 1;
  text-align: center;
  border:1px solid #fee440;
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
  padding: 10px;
}
.ai_nav_items ul li:hover ,.ai_nav_items ul li.active-ai{
  background: #ed213a;
  border: 1px solid #ed213a;
}
.ai-write-area{
  padding:10px ;
  background: #191c1e;
  color: #d7d7d7;
  margin: 0px 10px;
  
  outline: none;
  border-radius: 10px;
  
}
.ai-write-area:focus{
  border: 1px solid #72787e;
}
.ai-btn{
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.ai-btn button {
  border-radius:8px ;
  padding: 10px 15px ;
  outline: none;
  border: none;
  background: #72787e;
  color: #fff;
}
.ai-btn button.ai-generate{
  background: #ff8100;
  
  font-weight: bold;
}
.ai-result-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ai-card {
  background: #191c1e;
  padding: 10px;
  margin: 10px;
  color: #d7d7d7;
}
.ai-card h2 {
  font-weight: bold;
  color: #ed213a;
}
.ai-card ul {
  display: flex;
    flex-direction: column;
    gap: 10px;
}
.ai-card ul li:last-child{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.ai-card ul li.link {
  padding: 10px 15px;
  border-radius: 6px;
  width: min-content;
  float: right;
  outline: none;
  background: #ed213a;
  
}
