.loader
{

    width: 100%;
    height: 100%;
    /* background: #2b2d42; */
    flex-direction: column;
    align-items: center;
}

.loader .boxs
{
    width: 300px;
    height: 250px;
}
.s 
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #000;
    
}
.loader h1 
{
    font-size:35px;
    color: #fff;
    letter-spacing: 2px;
}
.one 
{
    background: #eb1e25;
    transform-origin: right;
    animation: animatex1x 4s linear infinite;
}
.two 
{
    background: #353b41;
    transform-origin: left;
    animation: animate22 4s linear  infinite;
}
@keyframes animatex1x 
{
    0% 
    {
        transform: rotate(0) scale(0);
    }
    50%
    {
        transform: rotate(180deg) scale(1);
    }
    100% 
    {
        transform: rotate(360deg) scale(0);
    }
}
@keyframes animate22
{
    0%
    {
        transform: rotate(0) scale(1);
    }
    50%
    {
        transform: rotate(180deg) scale(0);
    }
    100% 
    {
        transform: rotate(360deg) scale(1);
    }
}
.preloader-dots {
    height: 50px;
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
}
  
  .preloader-dots .dot {
    display: inline-block;
    background: #fff;
    height: 8px;
    width: 8px;
    opacity: 0.3;
    border-radius: 50%;
    animation: moveit 1.8s infinite;
  }
  
  .dot:nth-child(2) {
    animation-delay: .15s;
  }
  
  .dot:nth-child(3) {
    animation-delay: .3s;
  }
  
  .dot:nth-child(4) {
    animation-delay: .45s;
  }
  
  .dot:nth-child(5) {
    animation-delay: .6s;
  }
  
  @keyframes moveit {
    0% {
      transform: translateY(0px);
    }
    35% {
      transform: translateY(0px);
      opacity: 0.3;
    }
    50% {
      transform: translateY(-20px);
      opacity: 0.8;
    }
    70% {
      transform: translateY(3px);
      opacity: 0.8;
    }
    85% {
      transform: translateY(-3px);
    }
  }
.loaderDownload {
    width: 25px;
    height: 25px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotationDownload 1s linear infinite;
    }

    @keyframes rotationDownload {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
